
<div class="footer-container">
    <div class="column">
       <section class="loc">
         <div class="location">
    <h1><mat-icon>location_city</mat-icon>Location</h1>
    <h4><mat-icon>place</mat-icon>Bangalore</h4>
    <h4><mat-icon>place</mat-icon>Pune</h4>
    <h4><mat-icon>place</mat-icon>Mumbai</h4>
 </div>
</section>
</div>
<div class="column">
<section class="cont">
 <div class="contact">
      <h1><mat-icon>contacts</mat-icon>Contact Us</h1>

      <p><u>Mobile</u>:1122334455</p><p><u>LandLine</u>:080-11223</p>
      
      <p>Email:sampletestex@gmail.com</p>
 </div>
</section>
</div>
<div class="column">

<section class="links">
    <p><a [routerLink]="['/home']">Home</a></p>
    <p><a [routerLink]="['/allprods']">Home Furnitures and Decors</a></p>
    <p><a [routerLink]="['/login']">Login</a></p>
</section>
</div>  
</div>
